body {
  background-color: hsl(275, 100%, 97%);
}

.header-img {
  position: absolute;
  z-index: 0;
}

.header-img-mobile {
  position: absolute;
  z-index: 0;
  display: none;
}

main {
  width: 40%;
  padding: 50px 35px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 15px;
  position: absolute; 
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -35%); /* 修正偏移，確保以中心點為基準 */
  z-index: 1;
}

.title {
  display: flex;
  gap: 20px;
  align-items: center;
}

h1, h3 {
  color: hsl(292, 42%, 14%);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
}

h3:hover {
  color: hsl(306, 61%, 50%)
}

p {
  color: hsl(292, 16%, 49%);
}

h3, p {
  font-size: 16px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 32px;
  height: 32px;
}

/* Mobile */
@media only screen and (max-width:375px) {
  .header-img {
    display: none;
  }
  
  .header-img-mobile {
    display: block;
  }
  
  main {
    width: 80%;
    top: 10%;           
    left: 50%;          
  }
}